# Django collectstatic output
staticfiles/

# Bytecode & Caches
__pycache__/
*.py[cod]

# macOS Finder
.DS_Store

# Virtualenv
.venv/
.venv*/
venv/
.env
**/node_modules/

# IDE / Editor
.vscode/

# Generated admin static (collectstatic)
static/admin/

# Dumps / DB-Exports
latest.dump
db.sqlite3

# Media uploads
media/

# Pytest cache
.pytest_cache/

# Design assets (local Figma export)
Figma/
